<section class="container">
  <div class="row">
    <div class="col-xs-12">
      <nav>
        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
          <a
            class="nav-item nav-link active"
            id="nav-home-tab"
            data-toggle="tab"
            href="#nav-home"
            role="tab"
            aria-controls="nav-home"
            aria-selected="true"
            >WHO CAN FILE ?</a
          >
          <a
            class="nav-item nav-link"
            id="nav-profile-tab"
            data-toggle="tab"
            href="#nav-profile"
            role="tab"
            aria-controls="nav-profile"
            aria-selected="false"
            >TYPES OF GST</a
          >
          <a
            class="nav-item nav-link"
            id="nav-contact-tab"
            data-toggle="tab"
            href="#nav-contact"
            role="tab"
            aria-controls="nav-contact"
            aria-selected="false"
            >REQUIREMENTS</a
          >
          <a
            class="nav-item nav-link"
            id="nav-about-tab"
            data-toggle="tab"
            href="#nav-about"
            role="tab"
            aria-controls="nav-about"
            aria-selected="false"
            >BENEFITS</a
          >
        </div>
      </nav>
      <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
        <div
          class="tab-pane fade show active"
          id="nav-home"
          role="tabpanel"
          aria-labelledby="nav-home-tab"
        >
        <ul *ngFor="let ssEligibility of serviceSite?.ssEligibilitySet">
          <li class="text-white d-flex justify-content-center">
            <fa-icon [icon]="faCoffee"></fa-icon> {{ ssEligibility.seligibility.description }}
          </li>
        </ul>
        </div>
        <div
          class="tab-pane fade"
          id="nav-profile"
          role="tabpanel"
          aria-labelledby="nav-profile-tab"
        >
        <table class="table table-hover" role="table">
          <thead>
            <tr>
              <th>RETURN FILING</th>
              <th>INCLUDES</th>
              <th>DUE DATE</th>
              <th>WHEN TO FILE</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ssGstType of ssGstTypeArray">
              <td> {{ ssGstType.returnType }}</td>
              <td>{{ ssGstType.includes }}</td>
              <td>{{ ssGstType.dueDate }}</td>
              <td>{{ ssGstType.whenToFile }}</td>
            </tr>
          </tbody>
        </table>  
        </div>
        <div
          class="tab-pane fade"
          id="nav-contact"
          role="tabpanel"
          aria-labelledby="nav-contact-tab"
        >
          Et et consectetur ipsum labore excepteur est proident excepteur ad
          velit occaecat qui minim occaecat veniam. Fugiat veniam incididunt
          anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit
          non irure adipisicing aliqua ullamco irure incididunt irure non esse
          consectetur nostrud minim non minim occaecat. Amet duis do nisi duis
          veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui
          sit. Exercitation mollit sit culpa nisi culpa non adipisicing
          reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad
          duis occaecat ex.
        </div>
        <div
          class="tab-pane fade"
          id="nav-about"
          role="tabpanel"
          aria-labelledby="nav-about-tab"
        >
          Et et consectetur ipsum labore excepteur est proident excepteur ad
          velit occaecat qui minim occaecat veniam. Fugiat veniam incididunt
          anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit
          non irure adipisicing aliqua ullamco irure incididunt irure non esse
          consectetur nostrud minim non minim occaecat. Amet duis do nisi duis
          veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui
          sit. Exercitation mollit sit culpa nisi culpa non adipisicing
          reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad
          duis occaecat ex.
        </div>
      </div>
    </div>
  </div>
</section>

<!--nav>
    <ul class="nav nav-tabs clearfix" role="tablist">
      <li class="activeTab"><a data-toggle="tab" href="#whoCanFile">WHO CAN FILE ?</a></li>
      <li class="activeTab"><a data-toggle="tab" href="#typesOfGst">TYPES OF GST</a></li>
      <li class="activeTab"><a data-toggle="tab" href="#requirements">REQUIREMENTS</a></li>
      <li class="activeTab"><a data-toggle="tab" href="#benefits">BENEFITS</a></li>
      <li class="activeTab"><a data-toggle="tab" href="#penalty">PENALTY</a></li>
    </ul>
  </nav>
  <div class="tab-content">
    <div id="whoCanFile" class="tab-pane fadein active">
      <ul *ngFor="let ssEligibility of serviceSite?.ssEligibilitySet">
        <li class="text-white d-flex justify-content-center">
          <fa-icon [icon]="faCoffee"></fa-icon> {{ ssEligibility.seligibility.description }}
        </li>
      </ul>
    </div>
    <div id="typesOfGst" class="tab-pane fade">
      <table class="table table-hover text-white" role="table">
        <thead>
          <tr>
            <th>RETURN FILING</th>
            <th>INCLUDES</th>
            <th>DUE DATE</th>
            <th>WHEN TO FILE</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ssGstType of ssGstTypeArray">
            <td> {{ ssGstType.returnType }}</td>
            <td>{{ ssGstType.includes }}</td>
            <td>{{ ssGstType.dueDate }}</td>
            <td>{{ ssGstType.whenToFile }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="requirements" class="tab-pane fade">
      <ul *ngFor="let sDocumentRequired of serviceSite?.sDocumentRequiredList">
        <li class="text-white d-flex justify-content-center">
          {{ sDocumentRequired.documentName }}</li>
      </ul>
    </div>
    <div id="benefits" class="tab-pane fade">
      <ul *ngFor="let sBenefit of serviceSite?.sBenefitList">
        <li class="text-white d-flex justify-content-center">
          {{ sBenefit.benefitName }}</li>
      </ul>
    </div>
    <div id="penalty" class="tab-pane fade">
      <ul>
        <li class="text-white d-flex justify-content-center">Late Fees 50 Rs/Day</li>
      </ul>
    </div>
  </div>
</section-->

<!--section class="container">
  <button> To toggle between vertical and horizontal tabs, please click here </button>
  <h5> :: If the screen WIDTH is less than 768px the tabs will be transformed to accordion </h5>
    <nav>
        <ul class="clearfix">                    
            <li> <a href="#" data-toggle="tab" data-target="#content1" class="activeTab">  Option 1  </a> </li>
            <li> <a href="#" data-toggle="tab" data-target="#content2">  Option 2  </a> </li>
            <li> <a href="#" data-toggle="tab" data-target="#content3">  Option 3  </a> </li>
            <li> <a href="#" data-toggle="tab" data-target="#content4">  Option 3  </a> </li>
            <li> <a href="#" data-toggle="tab" data-target="#content5">  Option 3  </a> </li>
        </ul>
    </nav>  
    <section class="tab-content navContent">
      <article>
           <input  type="checkbox" name="op1" />
           <span class="smallHide"> <a>Option 1</a> </span>               
           <div class="tab-pane fade in active theContent" id="content1">                     
               <h1> Oh lovely </h1>
               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
               </p>
          </div>
      </article>
      <article>
          <input  type="checkbox" name="op1" />
          <span class="smallHide"> <a>Option 2</a> </span>                
          <div class="tab-pane fade theContent" id="content2">                     
               <h1> What do you think </h1>
               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
               </p>
          </div>
      </article>
      <article>
          <input  type="checkbox" name="op1" />
          <span class="smallHide"> <a>Option 3</a> </span>                
          <div class="tab-pane fade theContent" id="content3">                     
               <h1> Heading 3 </h1>
               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
               </p>
          </div>
      </article>                               
    </section>      
</section-->
<!-- Container -->
