<section class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <nav>
        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-eligibility-link" data-toggle="tab" href="#nav-eligibility"
            role="tab" aria-controls="nav-eligibility" aria-selected="true">WHO CAN FILE ?</a>
          <a class="nav-item nav-link" id="nav-gsttype-link" data-toggle="tab" href="#nav-gsttype" role="tab"
            aria-controls="nav-gsttype" aria-selected="false">TYPES OF GST</a>
          <a class="nav-item nav-link" id="nav-requirement-link" data-toggle="tab" href="#nav-requirement" role="tab"
            aria-controls="nav-requirement" aria-selected="false">REQUIREMENTS</a>
          <a class="nav-item nav-link" id="nav-benefit-link" data-toggle="tab" href="#nav-benefit" role="tab"
            aria-controls="nav-benefit" aria-selected="false">BENEFITS</a>
        </div>
      </nav>
      <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
        <div class="tab-pane fade jumbotron show active" id="nav-eligibility" role="tabpanel"
          aria-labelledby="nav-eligibility-link">
          <ul *ngFor="let ssEligibility of serviceSite?.ssEligibilitySet">
            <li>
              <fa-icon [icon]="faCoffee"></fa-icon> {{ ssEligibility?.seligibility?.description }}
            </li>
          </ul>
        </div>
        <div class="tab-pane fade jumbotron" id="nav-gsttype" role="tabpanel" aria-labelledby="nav-gsttype-link">
          <table class="table table-hover" role="table">
            <thead>
              <tr>
                <th>RETURN FILING</th>
                <th>INCLUDES</th>
                <th>DUE DATE</th>
                <th>WHEN TO FILE</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ssGstType of ssGstTypeArray">
                <td> {{ ssGstType.returnType }}</td>
                <td>{{ ssGstType.includes }}</td>
                <td>{{ ssGstType.dueDate }}</td>
                <td>{{ ssGstType.whenToFile }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div id="requirement" class="tab-pane fade jumbotron" id="nav-requirement" role="tabpanel"
          aria-labelledby="nav-requirement-link">

          <ul *ngFor="let ssDocumentRequired of serviceSite?.ssDocumentRequiredList">
            <li>
              {{ ssDocumentRequired?.sdocumentRequired?.name }}</li>
          </ul>
        </div>
        <div id="benefit" class="tab-pane fade jumbotron" id="nav-benefit" role="tabpanel"
          aria-labelledby="nav-benefit-link">
          <ul *ngFor="let ssBenefit of serviceSite?.ssBenefitList">
            <li>
              {{ ssBenefit?.sbenefit?.name }}</li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</section>

<!--nav>
    <ul class="nav nav-tabs clearfix" role="tablist">
      <li class="activeTab"><a data-toggle="tab" href="#whoCanFile">WHO CAN FILE ?</a></li>
      <li class="activeTab"><a data-toggle="tab" href="#typesOfGst">TYPES OF GST</a></li>
      <li class="activeTab"><a data-toggle="tab" href="#requirements">REQUIREMENTS</a></li>
      <li class="activeTab"><a data-toggle="tab" href="#benefits">BENEFITS</a></li>
      <li class="activeTab"><a data-toggle="tab" href="#penalty">PENALTY</a></li>
    </ul>
  </nav>
  <div class="tab-content">
    <div id="whoCanFile" class="tab-pane fadein active">
      <ul *ngFor="let ssEligibility of serviceSite?.ssEligibilitySet">
        <li class="text-white d-flex justify-content-center">
          <fa-icon [icon]="faCoffee"></fa-icon> {{ ssEligibility.seligibility.description }}
        </li>
      </ul>
    </div>
    <div id="typesOfGst" class="tab-pane fade">
      <table class="table table-hover text-white" role="table">
        <thead>
          <tr>
            <th>RETURN FILING</th>
            <th>INCLUDES</th>
            <th>DUE DATE</th>
            <th>WHEN TO FILE</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ssGstType of ssGstTypeArray">
            <td> {{ ssGstType.returnType }}</td>
            <td>{{ ssGstType.includes }}</td>
            <td>{{ ssGstType.dueDate }}</td>
            <td>{{ ssGstType.whenToFile }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="requirements" class="tab-pane fade">
      <ul *ngFor="let sDocumentRequired of serviceSite?.sDocumentRequiredList">
        <li class="text-white d-flex justify-content-center">
          {{ sDocumentRequired.documentName }}</li>
      </ul>
    </div>
    <div id="benefits" class="tab-pane fade">
      <ul *ngFor="let sBenefit of serviceSite?.sBenefitList">
        <li class="text-white d-flex justify-content-center">
          {{ sBenefit.benefitName }}</li>
      </ul>
    </div>
    <div id="penalty" class="tab-pane fade">
      <ul>
        <li class="text-white d-flex justify-content-center">Late Fees 50 Rs/Day</li>
      </ul>
    </div>
  </div>
</section-->

<!--section class="container">
  <button> To toggle between vertical and horizontal tabs, please click here </button>
  <h5> :: If the screen WIDTH is less than 768px the tabs will be transformed to accordion </h5>
    <nav>
        <ul class="clearfix">                    
            <li> <a href="#" data-toggle="tab" data-target="#content1" class="activeTab">  Option 1  </a> </li>
            <li> <a href="#" data-toggle="tab" data-target="#content2">  Option 2  </a> </li>
            <li> <a href="#" data-toggle="tab" data-target="#content3">  Option 3  </a> </li>
            <li> <a href="#" data-toggle="tab" data-target="#content4">  Option 3  </a> </li>
            <li> <a href="#" data-toggle="tab" data-target="#content5">  Option 3  </a> </li>
        </ul>
    </nav>  
    <section class="tab-content navContent">
      <article>
           <input  type="checkbox" name="op1" />
           <span class="smallHide"> <a>Option 1</a> </span>               
           <div class="tab-pane fade in active theContent" id="content1">                     
               <h1> Oh lovely </h1>
               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
               </p>
          </div>
      </article>
      <article>
          <input  type="checkbox" name="op1" />
          <span class="smallHide"> <a>Option 2</a> </span>                
          <div class="tab-pane fade theContent" id="content2">                     
               <h1> What do you think </h1>
               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
               </p>
          </div>
      </article>
      <article>
          <input  type="checkbox" name="op1" />
          <span class="smallHide"> <a>Option 3</a> </span>                
          <div class="tab-pane fade theContent" id="content3">                     
               <h1> Heading 3 </h1>
               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
               </p>
          </div>
      </article>                               
    </section>      
</section-->
<!-- Container -->