<div class="jumbotron">
    <ul>
        <li>
            NAME:  <span>Rajat &nbsp;Bansal</span>
        </li>
        <li>
            EMAIL:  <span>bansalrajat017@gmail.com</span>
        </li>
        <li>
            COMPANY:  <span></span>
        </li>
        <li>
            RESIDENTIAL ADDRESS:  <span>

                ,
                -
                ,
                ,

            </span>
        </li>
        <li>
            PHONE NO:  <span></span>
        </li>
        <li>
            AADHAR CARD NO:  <span></span>
        </li>
        <li>
            PAN NO:  <span></span>
        </li>
        <li style="display:none;">
            GST NO:  <span></span>
        </li>
    </ul>
</div>