<div class="card">
    <img class="img-responsive" src="./../../../../assets/images/USER.png" />
</div>
<ul class="list-group">
    <li routerLinkActive="active"><a class="list-group-item list-group-item-action" routerLink="/dashboard">MY
            DASHBOARD</a> </li>
    <li><a class="list-group-item list-group-item-action" routerLink="/profile">MY PROFILE</a> </li>
    <li><a class="list-group-item list-group-item-action" routerLink="/invoice">INVOICES</a> </li>
    <li><a class="list-group-item list-group-item-action" routerLink="/subscription">MY SUBSCRIPTIONS </a></li>
    <li><a class="list-group-item list-group-item-action" routerLink="/payment">MY PAYMENTS </a></li>
    <li><a class="list-group-item list-group-item-action" routerLink="/help">HELP </a></li>
</ul>