<footer class="jumbotron bg-dark text-center text-light">
        <div class="row">
                <div class="col-md-4">
                        <a href="#">HOME</a><br><br>
                        <a href="#">ABOUT US</a><br><br>
                        <a href="#">SERVICES</a><br><br>
                        <a href="#">CONTACT US</a>
                </div>

                <div class="col-md-3">
                        <address>Reach Us:
                                <div class="col contact-details">
                                        <p>A creative agency in Gurugram<br>
                                                <span style="display: inline-flex;
                                               vertical-align: middle">
                                                        <mat-icon>email</mat-icon>&nbsp;<a
                                                                href="mailto:janban1992@gmail.com">
                                                                janban1992@gmail.com</a>
                                                </span><br>
                                                <span style="display: inline-flex;
                                               vertical-align: middle">
                                                        <mat-icon>phone</mat-icon>&nbsp;9599045162 , 9986824375
                                                </span><br>
                                                Haryana, <span class="flag-icon flag-icon-in flag-icon-squared"></span>
                                                INDIA</p>
                                </div>
                        </address>
                </div>
        </div>
        <div class="row">
                <p class="text-center">Copyright 2020 Griflan Design Inc. All Rights Reserved</p>
        </div>
</footer>