<app-maincarousel></app-maincarousel>
<app-feature-services></app-feature-services>
<br>
<app-about-us></app-about-us>
<app-service></app-service>
<app-facts></app-facts>
<div class="row">
    <div class="col-md-12">
        <hr>
        <div class="typewriter">
            <h1 class="text-success text-bold h1">HOW IT WORKS</h1>
        </div>
        <hr>
        <span class="rf-steps">I</span>
        <hr><span class="rf-steps"> II</span>
        <hr><span class="rf-steps">III</span>
    </div>
</div>
