<br />
<section id="about">
  <br />
  <div class="row container-fluid">
    <img
      src="./../../../../assets/images/banners/gst_banner_4.jpeg"
      width="100%"
      height="0"
    />
  </div>
  <div class="container">
    <header class="section-header">
      <h3>GST RETURN</h3>
    </header>
    <br />
    <div class="row" style="background-color: white;">
      <div class="col-md-6">
        <p>
          <mark>{{ serviceSite?.head }}</mark> {{ serviceSite?.description }}
        </p>
        <div>
          <ul class="nav nav-tabs">
            <li
              class="nav-item"
              *ngFor="
                let ssPackage of serviceSite?.ssPackageList;
                let i = index
              "
            >
              <a
                [ngClass]="i == 0 ? 'nav-link active' : 'nav-link'"
                data-toggle="tab"
                [href]="'#' + ssPackage?.spackage?.name | lowercase"
                >{{ ssPackage?.spackage?.name }}</a
              >
            </li>
          </ul>

          <!-- Tab panes -->

          <div class="tab-content">
            <br />
            <div
              *ngFor="
                let ssPackage of serviceSite?.ssPackageList;
                let i = index
              "
              [ngClass]="
                i == 0 ? 'tab-pane container active' : 'tab-pane container'
              "
              [id]="ssPackage?.spackage?.name | lowercase"
            >
              {{ ssPackage?.spackage?.description }}

              <br /><br />
              <div class="d-flex justify-content-center">
                <button
                  mat-button
                  class="btn btn-primary"
                  (click)="openAccount()"
                >
                  {{
                    "FILE YOUR GST RETURN NOW @" + ssPackage?.spackage?.amount
                  }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <app-getstarted-form></app-getstarted-form>
      </div>
    </div>
    <br />
    <hr />
    <br />

    <br /><br />
  </div>
</section>
<!-- End About Us Section -->
<section class="wow fadeInUp" data-wow-delay="0.7s">
  <app-info-tab></app-info-tab>
</section>
<br />
<!--app-action></app-action-->
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6" style="background-color: white;">
        <h4>WHY RETURN FILING ?</h4>
        <br />
        <ul>
          <li>
            A Team of Experienced GST Professionals
          </li>
          <li>
            Accurate Collection to reduce Tax
          </li>
          <li>
            Human Assistance over Call
          </li>
          <li>
            100 % Data Security
          </li>
        </ul>
      </div>
      <div class="col-md-6" id="testimonial">
        <app-mono-testimonial></app-mono-testimonial>
      </div>
    </div>
  </div>
</section>
<section>
  <header class="section-header">
    <h3>OUR PACKAGES</h3>
  </header>
  <br />
  <app-packages></app-packages>
</section>
<br />
