<nav id="nav-menu-container">
    <ul class="nav-menu">
        <li class="menu-has-children"><a href="">ITR</a>
            <ul>
                <li><a routerLink="/itr/1">Income Tax Filing
                        for
                        Salaried (ITR-I)</a></li>
                <li><a routerLink="/itr/2">ITR
                        Filing for
                        Professional/Freelance</a></li>
                <li><a routerLink="/itr/3">Income Tax
                        Filing for
                        Capital gain
                        Income</a></li>
                <li><a routerLink="/itr/4">ITR Filing
                        for Small
                        Business</a></li>

                <li><a routerLink="/itr/5">Income
                        Tax Filing
                        for Salaried
                        - Multiple Form 16</a></li>
                <li><a routerLink="/itr/6">Income Tax Filing for NGOs</a></li>
                <li><a routerLink="/itr/7">Income Tax Filing for
                        Traders</a></li>

            </ul>
        </li>
        <li class="menu-has-children"><a href="">GST</a>
            <ul>
                <li><a routerLink="/gst/12">GST Registration</a></li>
                <li><a routerLink="/gst/11">Monthly GST Return Filing -
                        Basic</a></li>
                <li><a routerLink="/gst/12">GST Return Filing - Standard</a></li>
                <li><a routerLink="/gst/13">GST Return Filing - Deluxe</a></li>
                <li><a routerLink="/gst/14">GST Filing - Premium</a></li>
                <li><a routerLink="/gst/15">GST 3B Monthly Filing</a></li>
                <li><a routerLink="/gst/16">GST Filing - NIL
                        Return</a></li>
            </ul>
        </li>
        <li class="menu-has-children"><a href="">COMPLIANCE</a>
            <ul>
                <li><a routerLink="/compliance">PAYROLL</a></li>
                <li> <a routerLink="/gst-filing/tax-accounting">PF REGISTRATION</a></li>
            </ul>
        </li>
        <li><a href="#contact">Contact</a></li>
        <li><button type="button" class="btn btn-link" title="LOGIN/SIGNUP" id="btnLogin"
                    (click)="openAccount()">LOGIN / SIGN-UP</button></li>
    </ul>
</nav><!-- #nav-menu-container -->