<app-maincarousel></app-maincarousel><br>
<app-about-us></app-about-us>
<div class="row">
    <div class="col-md-12">
        <hr>
        <div class="typewriter">
            <h1 class="text-success text-bold h1">HOW IT WORKS</h1>
        </div>
        <hr>
        <span class="rf-steps">I</span>
        <hr><span class="rf-steps"> II</span>
        <hr><span class="rf-steps">III</span>
    </div>
</div>
<app-home-stats></app-home-stats>

<!--div class="col-md-12">
        <div class="NW-ins-HIW-content-block">
            <h2><strong>How it works</strong> <br> Using Insta C.A. is simple...</h2>
            <ul>
                <li class="col-md-4 col-sm-4">
                    <div class="rf-steps"><span>I</span></div>
                    <div class="NW-ins-HTW-icon-block">
                        <img src="https://www.instaca.in/images/svg-icon/sign-up.svg?v=1">
                    </div>
                    <div class="NW-ins-HTW-container-block">
                        <h6>Sign Up</h6>
                        <p>Choose any of our C.A. assisted plans according to your requirements</p>
                    </div>
                </li>
                <li class="col-md-4 col-sm-4">
                    <div class="rf-steps"><span>II</span></div>
                    <div class="NW-ins-HTW-icon-block">
                        <img src="https://www.instaca.in/images/svg-icon/upload.svg?v=1">
                    </div>
                    <div class="NW-ins-HTW-container-block">
                        <h6>Upload</h6>
                        <p>Upload your documents as per the checklist</p>
                    </div>
                </li>
                <li class="col-md-4 col-sm-4">
                    <div class="rf-steps"><span>III</span></div>
                    <div class="NW-ins-HTW-icon-block">
                        <img src="https://www.instaca.in/images/svg-icon/benefit.svg?v=1">
                    </div>
                    <div class="NW-ins-HTW-container-block">
                        <h6>Benefit</h6>
                        <p>From best quality services provided by our expert Accountants</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div-->