
<!------ Include the above in your HEAD tag ---------->


<div class="container">
    <div class="row text-center mb-3">
        <div class="col-md-12">
            <h2>Top Lists of Safest Car</h2>
            <p>Lorem Ipsum pagination consumpim in definiction.</p>
            <hr>
        </div>
    </div>
	<div class="row">
		<!-- Swiper -->
  <div class="swiper-container">
<div class="swiper-wrapper">
      <div class="swiper-slide">
          <div class="row">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-img"><img src="https://img.gaadicdn.com/images/carexteriorimages/upcoming/360x240/Jeep/Jeep-Renegade/047.jpg"></div>
                                <div class="card-body">
                                   <h5>Renault KWID</h5>
                                   <h4 class="pt-1 pb-2">Rs. 5.44-6.77 Lac</h4>
                                 
                                   <button type= "button" class="btn btn-outline-danger btn-block btn-sm">Lets Judge it.</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-img"><img src="https://img.gaadicdn.com/images/carexteriorimages/upcoming/360x240/Jeep/Jeep-Renegade/047.jpg"></div>
                                <div class="card-body">
                                   <h5>Renault KWID</h5>
                                   <h4 class="pt-1 pb-2">Rs. 5.44-6.77 Lac</h4>
                                 
                                   <button type= "button" class="btn btn-outline-danger btn-block btn-sm">Lets Judge it.</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-img"><img src="https://img.gaadicdn.com/images/carexteriorimages/upcoming/360x240/Jeep/Jeep-Renegade/047.jpg"></div>
                                <div class="card-body">
                                   <h5>Renault KWID</h5>
                                   <h4 class="pt-1 pb-2">Rs. 5.44-6.77 Lac</h4>
                                 
                                   <button type= "button" class="btn btn-outline-danger btn-block btn-sm">Lets Judge it.</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-img"><img src="https://img.gaadicdn.com/images/carexteriorimages/upcoming/360x240/Jeep/Jeep-Renegade/047.jpg"></div>
                                <div class="card-body">
                                   <h5>Renault KWID</h5>
                                   <h4 class="pt-1 pb-2">Rs. 5.44-6.77 Lac</h4>
                                 
                                   <button type= "button" class="btn btn-outline-danger btn-block btn-sm">Lets Judge it.</button>
                                </div>
                            </div>
                        </div>
                    </div>
      </div>
      <div class="swiper-slide">
          <div class="row">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-img"><img src="https://img.gaadicdn.com/images/carexteriorimages/upcoming/360x240/Jeep/Jeep-Renegade/047.jpg"></div>
                                <div class="card-body">
                                   <h5>Renault KWID</h5>
                                   <h4 class="pt-1 pb-2">Rs. 5.44-6.77 Lac</h4>
                                 
                                   <button type= "button" class="btn btn-outline-danger btn-block btn-sm">Lets Judge it.</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-img"><img src="https://img.gaadicdn.com/images/carexteriorimages/upcoming/360x240/Jeep/Jeep-Renegade/047.jpg"></div>
                                <div class="card-body">
                                   <h5>Renault KWID</h5>
                                   <h4 class="pt-1 pb-2">Rs. 5.44-6.77 Lac</h4>
                                 
                                   <button type= "button" class="btn btn-outline-danger btn-block btn-sm">Lets Judge it.</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-img"><img src="https://img.gaadicdn.com/images/carexteriorimages/upcoming/360x240/Jeep/Jeep-Renegade/047.jpg"></div>
                                <div class="card-body">
                                   <h5>Renault KWID</h5>
                                   <h4 class="pt-1 pb-2">Rs. 5.44-6.77 Lac</h4>
                                 
                                   <button type= "button" class="btn btn-outline-danger btn-block btn-sm">Lets Judge it.</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-img"><img src="https://img.gaadicdn.com/images/carexteriorimages/upcoming/360x240/Jeep/Jeep-Renegade/047.jpg"></div>
                                <div class="card-body">
                                   <h5>Renault KWID</h5>
                                   <h4 class="pt-1 pb-2">Rs. 5.44-6.77 Lac</h4>
                                 
                                   <button type= "button" class="btn btn-outline-danger btn-block btn-sm">Lets Judge it.</button>
                                </div>
                            </div>
                        </div>
                    </div>
      </div>
      <div class="swiper-slide">
          <div class="row">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-img"><img src="https://img.gaadicdn.com/images/carexteriorimages/upcoming/360x240/Jeep/Jeep-Renegade/047.jpg"></div>
                                <div class="card-body">
                                   <h5>Renault KWID</h5>
                                   <h4 class="pt-1 pb-2">Rs. 5.44-6.77 Lac</h4>
                                 
                                   <button type= "button" class="btn btn-outline-danger btn-block btn-sm">Lets Judge it.</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-img"><img src="https://img.gaadicdn.com/images/carexteriorimages/upcoming/360x240/Jeep/Jeep-Renegade/047.jpg"></div>
                                <div class="card-body">
                                   <h5>Renault KWID</h5>
                                   <h4 class="pt-1 pb-2">Rs. 5.44-6.77 Lac</h4>
                                 
                                   <button type= "button" class="btn btn-outline-danger btn-block btn-sm">Lets Judge it.</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-img"><img src="https://img.gaadicdn.com/images/carexteriorimages/upcoming/360x240/Jeep/Jeep-Renegade/047.jpg"></div>
                                <div class="card-body">
                                   <h5>Renault KWID</h5>
                                   <h4 class="pt-1 pb-2">Rs. 5.44-6.77 Lac</h4>
                                 
                                   <button type= "button" class="btn btn-outline-danger btn-block btn-sm">Lets Judge it.</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-img"><img src="https://img.gaadicdn.com/images/carexteriorimages/upcoming/360x240/Jeep/Jeep-Renegade/047.jpg"></div>
                                <div class="card-body">
                                   <h5>Renault KWID</h5>
                                   <h4 class="pt-1 pb-2">Rs. 5.44-6.77 Lac</h4>
                                 
                                   <button type= "button" class="btn btn-outline-danger btn-block btn-sm">Lets Judge it.</button>
                                </div>
                            </div>
                        </div>
                    </div>
      </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
<div class="swiper-button-prev"></div>
  </div>

	</div>
</div>
 
 <!-- ======= Services Section ======= -->
 <!--section id="services">
    <div class="container">

      <header class="section-header wow fadeInUp">
        <h3>Services</h3>
        <p>Laudem latine persequeris id sed, ex fabulas delectus quo. No vel partiendo abhorreant vituperatoribus, ad pro quaestio laboramus. Ei ubique vivendum pro. At ius nisl accusam lorenta zanos paradigno tridexa panatarel.</p>
      </header>
        <div class="row">
          <div class="col-md-8 col-center m-auto">
            <div id="myCarousel" class="carousel slide" data-ride="carousel"-->
              <!-- Carousel indicators -->
              <!--ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
              </ol-->   
              <!-- Wrapper for carousel items -->
              <!--div class="carousel-inner">
                <div class="item carousel-item active">
                  <div><img src="assets/img/about-mission.jpg" alt=""></div><br>
                  <h6>GST REGISTRATION</h6>
                  <p class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, varius quam at, </p>
                </div>
                <div class="item carousel-item">
                  <div><img src="assets/img/about-plan.jpg" alt=""></div><br>
                  <h6>INCOME TAX RETURN</h6>
                  <p class="testimonial">Vestibulum quis quam ut magna consequat faucibus. Pellentesque eget nisi a mi suscipit tincidunt.</p>
                </div>
                <div class="item carousel-item">
                  <div><img src="assets/img/about-vision.jpg" alt=""></div><br>
                  <h6>PAN CARD</h6>
                  <p class="testimonial">Phasellus vitae suscipit justo. Mauris pharetra feugiat ante id lacinia. Etiam faucibus mauris id tempor.</p>
                </div>
              </div-->
              <!-- Carousel controls -->
              <!--a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
                <i class="fa fa-angle-left"></i>
              </a>
              <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
                <i class="fa fa-angle-right"></i>
              </a>
            </div>
        </div>
      </div>
      </div>
  </section-->

      <!--div class="row">

        <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
          <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
          <h4 class="title"><a href="">Lorem Ipsum</a></h4>
          <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
        </div>
        <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
          <div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>
          <h4 class="title"><a href="">Dolor Sitema</a></h4>
          <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
        </div>
        <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
          <div class="icon"><i class="ion-ios-paper-outline"></i></div>
          <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
          <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
        </div>
        <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
          <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
          <h4 class="title"><a href="">Magni Dolores</a></h4>
          <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
        </div>
        <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
          <div class="icon"><i class="ion-ios-barcode-outline"></i></div>
          <h4 class="title"><a href="">Nemo Enim</a></h4>
          <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
        </div>
        <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
          <div class="icon"><i class="ion-ios-people-outline"></i></div>
          <h4 class="title"><a href="">Eiusmod Tempor</a></h4>
          <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
        </div>

      </div>

    </div-->
  <!-- End Services Section -->
