<div class="accordion accordion-flat">
    <div class="ac-item">
        <h5 class="ac-title"><i class="fa fa-angle-down"></i>Who can use ITR-1 Form ?</h5>
        <div class="ac-content tabs_item_content" style="display: none;">
            <p>ITR-1 must be filed by individuals whose source of income is limited to Salary/Pension, One House
                Property and other sources (Excluding winning from lottery and race horses).</p>
        </div>
    </div>
    <div class="ac-item">
        <h5 class="ac-title"><i class="fa fa-angle-down"></i>Who should not file ITR-1 Form ?</h5>
        <div class="ac-content" style="display: none;">
            <p>ITR-1 form should not be filed for below cases :</p>
            <ol class="m-b-0 p-l-25" style="list-style: decimal;">
                <li>Income that exceeds Rs. 50 Lakhs</li>
                <li>Assessee has Taxable Capital Gains</li>
                <li>Assessee has any of the below sources of income :
                    <ul style="list-style: lower-alpha;">
                        <li>Income from foreign assets</li>
                        <li>Agricultural income that exceeds Rs. 5000</li>
                        <li>Income from Business or Profession</li>
                        <li>Income from more than one house property</li>
                    </ul>
                </li>
            </ol>
        </div>
    </div>
    <div class="ac-item">
        <h5 class="ac-title"><i class="fa fa-angle-down"></i>When should ITR-1 be filed ?</h5>
        <div class="ac-content" style="display: none;">
            <p class="m-b-10">ITR-1 form is to be used when the assessee has income that is within Rs. 50 Lakhs and when
                the source of income falls into any of the below categories :</p>
            <ol class="m-b-0" style="list-style: decimal;">
                <li>Income from Salary/ Pension</li>
                <li>Income from just one house property</li>
                <li>Income from other sources excluding Winning from Lottery, Race Horses, income from foreign assets,
                    Capital Gains, Business or Profession, Agricultural income that exceeds Rs. 5000.</li>
            </ol>
        </div>
    </div>
    <div class="ac-item ac-active">
        <h5 class="ac-title"><i class="fa fa-angle-down"></i>What is the due date for filing ITR-1 Form ?</h5>
        <div class="ac-content" style="">
            <p>ITR-1 form must be filed by individuals and HUFs on or before 31st July of every year.</p>
        </div>
    </div>
</div>