<div *ngFor="let sTestimonial of sTestimonialArray">
    <div class="testimonial">{{sTestimonial?.description}}</div>
    <div class="media">
        <div class="media-left d-flex mr-3">
            <img [src]="defaultImagePath.concat(sTestimonial?.logo)" alt="">
        </div>
        <div class="media-body">
            <div class="overview">
                <div class="name"><b>{{sTestimonial?.givenBy}}</b></div>
                <div class="details">{{sTestimonial?.designation}}</div>
                <div class="star-rating">
                    <ul class="list-inline">
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>