<div class="row">
    <div class="col-md-3">
        <div class="text-center">
            <i class="material-icons" style="font-size: 70px">local_cafe</i>
            <div class="counter small"> <span data-speed="3000" data-refresh-interval="50" data-to="1200000"
                    data-from="600" data-seperator="true">999300</span> </div>
            <p>Entrepreneurs <br>Served</p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="text-center">
            <i class="material-icons" style="font-size: 70px">business_center</i>
            <div class="counter small"> <span data-speed="4500" data-refresh-interval="23" data-to="12000"
                    data-from="100" data-seperator="true">6626</span>+</div>
            <p>Professionals <br> Network</p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="text-center">
            <i class="material-icons" style="font-size: 70px"> near_me
            </i>
            <div class="counter small"> <span data-speed="3000" data-refresh-interval="12" data-to="180" data-from="50"
                    data-seperator="true">157</span>+</div>
            <p>Cities <br> Present</p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="text-center">
            <i class="material-icons" style="font-size: 70px"> people
            </i>
            <div class="counter small"><span data-speed="4550" data-refresh-interval="50" data-to="6000" data-from="48"
                    data-seperator="true">3240</span>+</div>
            <p>Partners <br> Available</p>
        </div>
    </div>
</div>