.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
 }
 .dropdown-item{
     background-color: dodgerblue;
     color:whitesmoke;
     
 }
 .dropdown-item:hover{
     background-color: blue;
 }

