<nav class="navbar navbar-expand-md navbar-light bg-light">
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#collapsibleNavbar"
        aria-controls="collapsibleNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" data-toggle="dropdown"
                    data-target="ITR_DROPDOWN" aria-expanded="false" title="INCOME TAX RETURN">ITR
                    FILING</a>
                <div class="dropdown-menu" aria-labelledby="ITR_DROPDOWN">
                    <a class="dropdown-item" routerLink="/itr/1">Income Tax Filing
                        for
                        Salaried (ITR-I)</a>
                    <a class="dropdown-item" routerLink="/itr/2">ITR
                        Filing for
                        Professional/Freelance</a>
                    <a class="dropdown-item" routerLink="/itr/3">Income Tax
                        Filing for
                        Capital gain
                        Income</a>
                    <a class="dropdown-item" routerLink="/itr/4">ITR Filing
                        for Small
                        Business</a>

                    <a class="dropdown-item" routerLink="/itr/5">Income
                        Tax Filing
                        for Salaried
                        - Multiple Form 16</a>
                    <a class="dropdown-item" routerLink="/itr/6">Income Tax Filing for NGOs</a>
                    <a class="dropdown-item" routerLink="/itr/7">Income Tax Filing for
                        Traders</a>
                </div>
            </li>
            <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" data-toggle="dropdown"
                    data-target="GST_DROPDOWN" aria-expanded="false" title="GOODS & SERVICES TAX">GST
                    FILING</a>
                <div class="dropdown-menu" aria-labelledby="GST_DROPDOWN">
                    <a class="dropdown-item" routerLink="/gst/11">Monthly GST Return Filing -
                        Basic</a>
                    <a class="dropdown-item" routerLink="/gst/12">GST Return Filing - Standard</a>
                    <a class="dropdown-item" routerLink="/gst/13">GST Return Filing - Deluxe</a>
                    <a class="dropdown-item" routerLink="/gst/14">GST Filing - Premium</a>
                    <a class="dropdown-item" routerLink="/gst/15">GST 3B Monthly Filing</a>
                    <a class="dropdown-item" routerLink="/gst/16">GST Filing - NIL
                        Return</a>
                </div>
            </li>
            <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" data-toggle="dropdown"
                    data-target="COMPLIANCE_DROPDOWN" aria-expanded="false" title="COMPLIANCES">COMPLIANCES
                </a>
                <div class="dropdown-menu" aria-labelledby="COMPLIANCE_DROPDOWN">
                    <a class="dropdown-item" routerLink="/compliance">PAYROLL</a>
                    <a class="dropdown-item" routerLink="/gst-filing/tax-accounting">PF REGISTRATION</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item"> <button type="button" title="LOGIN" id="btnLogin" class="btn btn-outline-success mr-3"
                    mat-raised-button (click)="openAccount()">LOGIN / SIGN-UP</button> </li>
        </ul>
    </div>
</nav>